
        .navbar {
          margin-bottom: 0;
          border-radius: 0;
        }
        
    
        .row.content {height: 450px}
    
        .sidenav {
          padding-top: 20px;
          background-color: #f1f1f1;
          height: 100%;
        }
        
        
        footer {
          background-color: white-space;
          color: white;
          padding: 15px;
        }
        
        
          .sidenav { 
            height: auto;
            padding: 15px;
          }
          .row.content {height:auto;}
      
    
  
 

#Logo{
    height: 95px;
    width: 95px;
}

body{
    background-color: white;
}

#beardo{
    height: 10px;
    width: 10px;
}
#calci{
    height: 10px;
    width: 10px;
}

#hangu{
    height: 10px;
    width: 10px;
}

#ocr{
    height: 10px;
    width: 10px;
}

#logo{
height: 15px ;
width: 15px;
}


table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }  